.basket {
    width: 550px;
    border-style: solid;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-between;
    margin: 0 auto;
    font-size: 3vh;
    padding: 5px 5px 5px 5px;
}
.sp {
    padding-right: 5px;
    width: 30px;
    height: 30px;
}
.bp {
    width: 100%;
}
